@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Urbanist:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/* font-family: 'JetBrains Mono', monospace;
font-family: 'Urbanist', sans-serif; */

* {
  text-decoration: none;
}


html, body {
  color: #0D1321;
  margin: 0 auto;
  padding: 0;
  font-size: 14pt;
  width: 100vw;
  height: 100vh;
  text-align: center;
  font-family: 'Urbanist', sans-serif;
  background-color: #fff;
}

img {
  width: 100%;
  max-width: 800px;
}

a {
  font-weight: bold;
  color: #748CAB;
}

p a:hover {
  background-color: #748CAB;
  color: #fff;
}

nav h3:hover {
  opacity: 0.5;
}

.deptList:hover {
  opacity: 0.5;
}

.pickedList:hover {
  opacity: 0.5;
}